[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
bump2version = "==0.5.11"
pip-tools = "==4.3.0"

[packages]
click = "==7.0"
pydub = "==0.23.1"
colorama = "==0.4.1"

[requires]
python_version = "3.7"
